# Entorno virtual
venv/
py312/
py313/
py314/
env/
.venv/

# Archivos compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Directorios de distribución
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store

#Instancia de la MIB
mib_state.json
MYAGENT-MIB.cds
MYAGENT-MIB.cmi

#Test files
README_Testing.md